.main_title {
  padding-top: 15px;
  font-family: Pacifico;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.main_container {
  margin-top: 10px;
}
.header_container {
  border-bottom: 1px solid transparent;
  background: #86c284;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.main_container nav {
  display: flex;

  justify-content: space-between;
}

.navigation_list {
  display: flex;
  gap: 15px;
}
.navigation_list li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.contacts_header {
  display: flex;
  gap: 24px;
}

.active {
  border-bottom: 2px solid #000;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Pacifico;
  color: green;
  font-size: 24px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
