.hero_container {
  margin-top: -300px;
  height: 1200px;
  max-width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.3),
      rgba(46, 47, 66, 0.3)
    ),
    url(../img/grass-gd921ccf99_1280.jpg);
  background-size: cover; /* Растягиваем фон на всю ширину блока */
  background-position: center; /* Центрируем фон */
}
.hero_gradient {
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
}

.header_title {
  font-style: normal;
  font-size: 24px;
  max-width: 444px;
  color: white;

  text-align: start;
}
.header-title .highlight {
  margin-top: 35px;
  display: flex;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 83px;
  color: #52ac62;
}
.high {
  display: flex;
  justify-content: center;
}

.nav_list_menu a:hover {
  color: #6c757d;
}
.hero_main {
  padding-top: 450px;
  display: flex;
}
.hero_info {
  margin-left: 25px;
  padding-top: 255px;
  width: 600px;
  color: white;

  font-size: 1.3em;
  line-height: 1.5em;
}
